@use '../../../styles/variables.scss' as *;

.signinBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    gap: 20px;
    max-width: 700px;
    width: 100%;
    align-self: center;

    &__header {
        text-align: center;
        gap: 4px;
    }

    @media screen and (min-width: $screen-md-min) {
        gap: 40px;
        padding: 40px 67px;
    }

    @media screen and (min-width: $screen-lg-min) {
        gap: 40px;
        padding: 40px 134px;
    }
}

.signinForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media screen and (min-width: $screen-lg-min) {
        gap: 24px;
    }
}

.socialButtonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media screen and (min-width: $screen-lg-min) {
        gap: 16px;
    }
}
