@use '../../../styles/variables.scss' as *;

.signinFormHeader {
    text-align: center;
    gap: 4px;
}

.signinForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media screen and (min-width: $screen-lg-min) {
        gap: 24px;
    }
}

.socialButtonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media screen and (min-width: $screen-lg-min) {
        gap: 16px;
    }
}
