$primary-color: #549b34;
$secondary-color: #666666;

$text-primary-color: #333333;
$text-secondary-color: $secondary-color;
$text-tertiary-color: #111111;

// breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;